@import 'base/variables';
//@import 'base/normalize';
@import 'base/global';

// Import Components
// @import 'components/header';

// Import Layouts
// @import 'layouts/home';

// Import Plugins
// @import 'plugins/plugin';

/**
 * AngularJS Form validation styling
 */
.validation.help-block {
  color: #E07676;
  font-style: italic;
}

/* invalid & (dirty or touched) => red -- CSS3 only */
.ng-invalid.ng-dirty:not(:focus),
.ng-invalid.ng-touched:not(:focus) {
  border-color: #e74c3c;
}

/* valid & dirty => green */
.ng-valid.ng-dirty.ng-touched {
  border-color: #2ecc71;
}

/* error display font italic, text-danger is red in BS */
.validation.text-danger {
  font-style: italic;
}

/**
 * UI Grid
 */
.grid {
  width: 100%;
}

/*Выставление высоты таблицы в зависимости от доступной высоты страницы*/
@for $i from 10 through 20 {
  @media (min-height: 50px * $i) {
    .grid {
      height: (50px * $i) - 150px;
    }
  }
}

.form-horizontal .form-group-sm {
  margin-bottom: 0px;
}
