<div class="panel panel-default">
    <div class="panel-heading">
        <span ng-if="model.id">
            Редактирование задания {{model.id}}
        </span>
        <span ng-if="!model.id">
            Создание задания
        </span>
    </div>
    <div class="panel-body">
        <!--todo https://www.forms-angular.org/#/schemas-->
        <ng-form novalidate role="form" name="entityForm">

            <!--createdBy-->
            <div class="form-group" title="Created by" ng-if="model.id">
                <label for="createdBy" class="sr-only">Created by</label>

                <div class="input-group">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></div>
                    <input type="text" class="form-control"
                           name="createdBy" id="createdBy" ng-model="model.createdBy"
                           placeholder="Created by" friendly-name="Created by"
                           readonly
                    >
                </div>
            </div>

            <!--createdAt-->
            <div class="form-group" title="Created at" ng-if="model.id">
                <label for="createdAt" class="sr-only">Created at</label>

                <div class="input-group">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></div>
                    <input type="text" class="form-control"
                           name="createdAt" id="createdAt" ng-model="model.createdAt"
                           placeholder="Created at" friendly-name="Created at"
                           convert-to-date-time
                           readonly
                    >
                </div>
            </div>

            <!--agency-->
            <div class="form-group" title="Agency">
                <label for="agency" class="sr-only">Agency</label>

                <div class="input-group">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span></div>
                    <ui-select class="form-control"
                               name="agency" id="agency" ng-model="model.agency"
                               sortable="true"
                               placeholder="Agency" friendly-name="Agency"
                               title="Select task"
                    >
                        <ui-select-match placeholder="Select a agency in the list or search his">{{$select.selected.name || $select.selected}}</ui-select-match>
                        <ui-select-choices repeat="item in optAgency track by item.id">
                            <div ng-bind-html="item.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                    <input type="hidden"
                           name="agencyId" ng-model="model.agency"
                           validation="custom:serverErrorValidator('agency')"
                    >
                </div>
            </div>

            <!--clientAlias-->
            <div class="form-group" title="Client alias">
                <label for="clientAlias" class="sr-only">Client alias</label>

                <div class="input-group">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span></div>
                    <input type="text" class="form-control"
                           name="clientAlias" id="clientAlias" ng-model="model.clientAlias"
                           placeholder="Client alias" friendly-name="Client alias"
                           validation="custom:serverErrorValidator('clientAlias')|required|min_len:3"
                    >
                </div>
            </div>

            <!--periodStart-->
            <div class="form-group" title="Period start">
                <label for="periodStart" class="sr-only">Period start</label>

                <div class="input-group">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></div>
                    <input type="text" class="form-control"
                           date-time-picker
                           convert-to-date-time
                           name="periodStart" id="periodStart" ng-model="model.periodStart"
                           placeholder="Period start" friendly-name="Period start"
                           validation="custom:serverErrorValidator('periodStart')"
                    >
                </div>
            </div>

            <!--periodFinish-->
            <div class="form-group" title="Period finish">
                <label for="periodFinish" class="sr-only">Period finish</label>

                <div class="input-group">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></div>
                    <input type="text" class="form-control"
                           date-time-picker
                           convert-to-date-time
                           name="periodFinish" id="periodFinish" ng-model="model.periodFinish"
                           placeholder="Period finish" friendly-name="Period finish"
                           validation="custom:serverErrorValidator('periodFinish')"
                    >
                </div>
            </div>

            <!--filter-->
            <div class="form-group" title="Filter">
                <label class="sr-only">Filter</label>

                <div class="input-group">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-filter" aria-hidden="true"></span></div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-12 col-sm-12">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <label>Emails</label>
                                    </span>
                                    <!--todo Client validation for email-->
                                    <ui-select class="form-control"
                                               name="filterEmail" id="filterEmail" ng-model="model.filter.email"
                                               multiple aria-multiselectable="true" sortable="true"
                                               tagging="selectTagSimple" tagging-label="" tagging-tokens="SPACE|ENTER|,"
                                               placeholder="Email" friendly-name="Email"
                                               title="Enter emails"
                                    >
                                        <ui-select-match placeholder="Enter emails...">{{$item}}</ui-select-match>
                                        <ui-select-choices repeat="option in model.filter.email | filter:$select.search">
                                            {{option}}
                                        </ui-select-choices>
                                    </ui-select>
                                    <input type="hidden"
                                           name="filter[email]" ng-model="model.filter.email"
                                           validation="custom:serverErrorValidator('filter[email]')"
                                    >
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-sm-12">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <label>IP</label>
                                    </span>
                                    <!--todo Client validation for IP-->
                                    <ui-select class="form-control"
                                               name="filterIp" id="filterIp" ng-model="model.filter.ip"
                                               multiple aria-multiselectable="true" sortable="true"
                                               tagging="selectTagSimple" tagging-label="" tagging-tokens="SPACE|ENTER|,"
                                               placeholder="IP" friendly-name="IP"
                                               title="Enter IP addresses"
                                    >
                                        <ui-select-match placeholder="Enter IP addresses...">{{$item}}</ui-select-match>
                                        <ui-select-choices repeat="option in model.filter.ip | filter:$select.search">
                                            {{option}}
                                        </ui-select-choices>
                                    </ui-select>
                                    <input type="hidden"
                                           name="filter[ip]" ng-model="model.filter.ip"
                                           validation="custom:serverErrorValidator('filter[ip]')"
                                    >
                                </div>
                            </div>
                        </div>
                        <input type="hidden"
                               name="filter" ng-model="model.filter"
                               validation="custom:serverErrorValidator('filter')"
                        >
                    </div>
                </div>
            </div>

            <!--note-->
            <div class="form-group" title="Note">
                <label for="note" class="sr-only">Note</label>

                <div class="input-group">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span></div>
                    <input type="text" class="form-control"
                           name="note" id="note" ng-model="model.note"
                           placeholder="Note" friendly-name="Note"
                           validation="custom:serverErrorValidator('note')|required|min_len:3"
                    >
                </div>
            </div>

        </ng-form>
    </div>
    <div class="panel-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()">
            Cancel
        </button>
        <button type="button" class="btn btn-primary" ng-click="save()" ng-disabled="(entityForm.$dirty && entityForm.$invalid) || entityForm.$pristine">
            Save
        </button>
    </div>
</div>
