<div class="panel panel-default">
    <div class="panel-heading">
        <span ng-if="model.id">
            Редактирование задания '{{model.number}}'
        </span>
        <span ng-if="!model.id">
            Создание задания
        </span>
    </div>
    <div class="panel-body">
        <!--todo https://www.forms-angular.org/#/schemas-->
        <ng-form novalidate role="form" name="entityForm">

            <!--number-->
            <div class="form-group" title="Номер задания">
                <label for="number">Номер задания</label>

                <div class="input-group">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span></div>
                    <input type="text" class="form-control"
                           name="number" id="number" ng-model="model.number"
                           placeholder="Номер задания" friendly-name="Номер задания"
                           validation="custom:serverErrorValidator('number')|required|min_len:1"
                    >
                </div>
            </div>

            <!--createdBy-->
            <div class="form-group" title="Created by" ng-if="model.id">
                <label for="createdBy">Создан (администратор)</label>

                <div class="input-group">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></div>
                    <input type="text" class="form-control"
                           name="createdBy" id="createdBy" ng-model="model.createdBy"
                           placeholder="Создан" friendly-name="Создан"
                           readonly
                    >
                </div>
            </div>

            <!--createdAt-->
            <div class="form-group" title="Created at" ng-if="model.id">
                <label for="createdAt">Создан (время)</label>

                <div class="input-group">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></div>
                    <input type="text" class="form-control"
                           name="createdAt" id="createdAt" ng-model="model.createdAt"
                           placeholder="Создан" friendly-name="Создан"
                           convert-to-date-time
                           readonly
                    >
                </div>
            </div>

            <!--agency-->
            <div class="form-group" title="Agency">
                <label for="agency">Орган, осуществляющий проведение ОРМ или надзор</label>

                <div class="input-group">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span></div>
                    <ui-select class="form-control"
                               name="agency" id="agency" ng-model="model.agency"
                               sortable="true"
                               placeholder="Agency" friendly-name="Agency"
                               title="Select task"
                    >
                        <ui-select-match placeholder="Выберите из списка">{{$select.selected.name || $select.selected}}</ui-select-match>
                        <ui-select-choices repeat="item in optAgency track by item.id">
                            <div ng-bind-html="item.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                    <input type="hidden"
                           name="agencyId" ng-model="model.agency"
                           validation="custom:serverErrorValidator('agency')|required"
                    >
                </div>
            </div>

            <!--clientAlias-->
            <div class="form-group" title="Client alias">
                <label for="clientAlias">Идентификатор абонента</label>

                <div class="input-group">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span></div>
                    <input type="text" class="form-control"
                           name="clientAlias" id="clientAlias" ng-model="model.clientAlias"
                           placeholder="Идентификатор абонента" friendly-name="Идентификатор абонента"
                           validation="custom:serverErrorValidator('clientAlias')|required|min_len:3"
                    >
                </div>
            </div>

            <!--periodStart-->
            <div class="form-group" title="Period start">
                <label for="periodStart">Период перехвата. Начало</label>

                <div class="input-group">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></div>
                    <input type="text" class="form-control"
                           date-time-picker
                           convert-to-date-time
                           name="periodStart" id="periodStart" ng-model="model.periodStart"
                           placeholder="Период перехвата. Начало" friendly-name="Период перехвата. Начало"
                           validation="custom:serverErrorValidator('periodStart')"
                    >
                </div>
            </div>

            <!--periodFinish-->
            <div class="form-group" title="Period finish">
                <label for="periodFinish">Период перехвата. Конец</label>

                <div class="input-group">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></div>
                    <input type="text" class="form-control"
                           date-time-picker
                           convert-to-date-time
                           name="periodFinish" id="periodFinish" ng-model="model.periodFinish"
                           placeholder="Период перехвата. Конец" friendly-name="Период перехвата. Конец"
                           validation="custom:serverErrorValidator('periodFinish')"
                    >
                </div>
            </div>

            <div class="form-group" title="Mode">
                <label for="mode">Признак собираемых сведений</label>

                <div class="input-group">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-list" aria-hidden="true"></span></div>
                    <select class="form-control"
                            name="mode" id="mode" ng-model="model.mode"
                            friendly-name="Mode"
                            validation="custom:serverErrorValidator('mode')|required"
                    >
                        <option value="FULL">Полный контроль</option>
                        <option value="STATISTIC">Статистический контроль</option>
                    </select>
                </div>
            </div>

            <!--note-->
            <div class="form-group" title="Note">
                <label for="note">Примечание</label>

                <div class="input-group">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span></div>
                    <input type="text" class="form-control"
                           name="note" id="note" ng-model="model.note"
                           placeholder="Примечание" friendly-name="Примечание"
                           validation="custom:serverErrorValidator('note')|required|min_len:3"
                    >
                </div>
            </div>

        </ng-form>
    </div>
    <div class="panel-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()">
            Отмена
        </button>
        <button type="button" class="btn btn-primary" ng-click="save()" ng-disabled="(entityForm.$dirty && entityForm.$invalid) || entityForm.$pristine">
            Сохранить
        </button>
    </div>
</div>
