<div class="panel panel-default">
    <div class="panel-heading">
        <span ng-if="model.id">
            Редактирование задания '{{model.number}}'
        </span>
        <span ng-if="!model.id">
            Создание задания
        </span>
    </div>
    <div class="panel-body">
        <!--todo https://www.forms-angular.org/#/schemas-->
        <ng-form novalidate role="form" name="entityForm">

            <!--number-->
            <div class="form-group" title="Номер задания">
                <label for="number">Номер задания</label>

                <div class="input-group">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span></div>
                    <input type="text" class="form-control"
                           name="number" id="number" ng-model="model.number"
                           placeholder="Номер задания" friendly-name="Номер задания"
                           validation="custom:serverErrorValidator('number')|required|min_len:1"
                    >
                </div>
            </div>

            <!--createdBy-->
            <div class="form-group" title="Created by" ng-if="model.id">
                <label for="createdBy">Создан (администратор)</label>

                <div class="input-group">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></div>
                    <input type="text" class="form-control"
                           name="createdBy" id="createdBy" ng-model="model.createdBy"
                           placeholder="Создан" friendly-name="Создан"
                           readonly
                    >
                </div>
            </div>

            <!--createdAt-->
            <div class="form-group" title="Created at" ng-if="model.id">
                <label for="createdAt">Создан (время)</label>

                <div class="input-group">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></div>
                    <input type="text" class="form-control"
                           name="createdAt" id="createdAt" ng-model="model.createdAt"
                           placeholder="Создан" friendly-name="Создан"
                           convert-to-date-time
                           readonly
                    >
                </div>
            </div>

            <!--agency-->
            <div class="form-group" title="Agency">
                <label for="agency">Орган, осуществляющий проведение ОРМ или надзор</label>

                <div class="input-group">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span></div>
                    <ui-select class="form-control"
                               name="agency" id="agency" ng-model="model.agency"
                               sortable="true"
                               placeholder="Agency" friendly-name="Agency"
                               title="Select task"
                    >
                        <ui-select-match placeholder="Выберите из списка">{{$select.selected.name || $select.selected}}</ui-select-match>
                        <ui-select-choices repeat="item in optAgency track by item.id">
                            <div ng-bind-html="item.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                    <input type="hidden"
                           name="agencyId" ng-model="model.agency"
                           validation="custom:serverErrorValidator('agency')|required"
                    >
                </div>
            </div>

            <!--clientAlias-->
            <div class="form-group" title="Client alias">
                <label for="clientAlias">Идентификатор абонента</label>

                <div class="input-group">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span></div>
                    <input type="text" class="form-control"
                           name="clientAlias" id="clientAlias" ng-model="model.clientAlias"
                           placeholder="Идентификатор абонента" friendly-name="Идентификатор абонента"
                           validation="custom:serverErrorValidator('clientAlias')|required|min_len:3"
                    >
                </div>
            </div>

            <!--periodStart-->
            <div class="form-group" title="Period start">
                <label for="periodStart">Период перехвата. Начало</label>

                <div class="input-group">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></div>
                    <input type="text" class="form-control"
                           date-time-picker
                           convert-to-date-time
                           name="periodStart" id="periodStart" ng-model="model.periodStart"
                           placeholder="Период перехвата. Начало" friendly-name="Период перехвата. Начало"
                           validation="custom:serverErrorValidator('periodStart')"
                    >
                </div>
            </div>

            <!--periodFinish-->
            <div class="form-group" title="Period finish">
                <label for="periodFinish">Период перехвата. Конец</label>

                <div class="input-group">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></div>
                    <input type="text" class="form-control"
                           date-time-picker
                           convert-to-date-time
                           name="periodFinish" id="periodFinish" ng-model="model.periodFinish"
                           placeholder="Период перехвата. Конец" friendly-name="Период перехвата. Конец"
                           validation="custom:serverErrorValidator('periodFinish')"
                    >
                </div>
            </div>

            <!--filter-->
            <div class="form-group" title="Filter">
                <label>Признак собираемых сведений</label>

                <div class="input-group">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-filter" aria-hidden="true"></span></div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-12 col-sm-12">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <label>Emails</label>
                                    </span>
                                    <!--todo Client validation for email-->
                                    <ui-select class="form-control"
                                               name="filterEmail" id="filterEmail" ng-model="model.filter.email"
                                               multiple aria-multiselectable="true" sortable="true"
                                               tagging="selectTagSimple" tagging-label="" tagging-tokens="SPACE|ENTER|,"
                                               placeholder="Email" friendly-name="Email"
                                               title="Enter emails"
                                    >
                                        <ui-select-match placeholder="Enter emails...">{{$item}}</ui-select-match>
                                        <ui-select-choices repeat="option in model.filter.email | filter:$select.search">
                                            {{option}}
                                        </ui-select-choices>
                                    </ui-select>
                                    <input type="hidden"
                                           name="filter[email]" ng-model="model.filter.email"
                                           validation="custom:serverErrorValidator('filter[email]')"
                                    >
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-sm-12">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <label>IP</label>
                                    </span>
                                    <!--todo Client validation for IP-->
                                    <ui-select class="form-control"
                                               name="filterIp" id="filterIp" ng-model="model.filter.ip"
                                               multiple aria-multiselectable="true" sortable="true"
                                               tagging="selectTagSimple" tagging-label="" tagging-tokens="SPACE|ENTER|,"
                                               placeholder="IP" friendly-name="IP"
                                               title="Введите IP адрес"
                                    >
                                        <ui-select-match placeholder="Введите IP адреса...">{{$item}}</ui-select-match>
                                        <ui-select-choices repeat="option in model.filter.ip | filter:$select.search">
                                            {{option}}
                                        </ui-select-choices>
                                    </ui-select>
                                    <input type="hidden"
                                           name="filter[ip]" ng-model="model.filter.ip"
                                           validation="custom:serverErrorValidator('filter[ip]')"
                                    >
                                </div>
                            </div>
                        </div>
                        <input type="hidden"
                               name="filter" ng-model="model.filter"
                               validation="custom:serverErrorValidator('filter')"
                        >
                    </div>
                </div>
            </div>

            <!--note-->
            <div class="form-group" title="Note">
                <label for="note">Примечание</label>

                <div class="input-group">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span></div>
                    <input type="text" class="form-control"
                           name="note" id="note" ng-model="model.note"
                           placeholder="Примечание" friendly-name="Примечание"
                           validation="custom:serverErrorValidator('note')|required|min_len:3"
                    >
                </div>
            </div>

        </ng-form>
    </div>
    <div class="panel-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()">
            Отмена
        </button>
        <button type="button" class="btn btn-primary" ng-click="save()" ng-disabled="(entityForm.$dirty && entityForm.$invalid) || entityForm.$pristine">
            Сохранить
        </button>
    </div>
</div>
