<div class="panel panel-default">
    <div class="panel-heading">
        Список задач на реализацию
    </div>
    <div class="panel-body">
        <ul>
            <li><div class="checkbox disabled">
                <label>
                    <input type="checkbox" disabled>
                    Авторизация
                    (
                    <a href="https://github.com/fnakstad/angular-client-side-auth">link</a>
                    <a href="http://www.codeproject.com/Tips/811782/AngularJS-Security-Authorization-on-Angular-Routes">link</a>
                    )
                </label>
            </div></li>

            <li><div class="checkbox disabled">
                <label>
                    <input type="checkbox" disabled>
                    Пользователи
                </label>
            </div>
                <ul>
                    <li><div class="checkbox disabled">
                        <label>
                            <input type="checkbox" disabled>
                            Просмотр списка
                        </label>
                    </div></li>
                    <li><div class="checkbox disabled">
                        <label>
                            <input type="checkbox" disabled>
                            Фильтрация списка
                        </label>
                    </div></li>
                    <li><div class="checkbox disabled">
                        <label>
                            <input type="checkbox" disabled>
                            Создание
                        </label>
                    </div></li>
                    <li><div class="checkbox disabled">
                        <label>
                            <input type="checkbox" disabled>
                            Удаление
                        </label>
                    </div></li>
                    <li><div class="checkbox disabled">
                        <label>
                            <input type="checkbox" disabled>
                            Учёт прав пользователя
                        </label>
                    </div></li>
                </ul>
            </li>

            <li><div class="checkbox disabled">
                <label>
                    <input type="checkbox" disabled>
                    Задание на отбор данных
                </label>
            </div>
                <ul>
                    <li><div class="checkbox disabled">
                        <label>
                            <input type="checkbox" disabled>
                            Просмотр списка
                        </label>
                    </div></li>
                    <li><div class="checkbox disabled">
                        <label>
                            <input type="checkbox" disabled>
                            Фильтрация списка
                        </label>
                    </div></li>
                    <li><div class="checkbox disabled">
                        <label>
                            <input type="checkbox" disabled>
                            Создание
                        </label>
                    </div></li>
                    <li><div class="checkbox disabled">
                        <label>
                            <input type="checkbox" disabled>
                            Удаление
                        </label>
                    </div></li>
                    <li><div class="checkbox disabled">
                        <label>
                            <input type="checkbox" disabled>
                            Публикация задания на все сервера Bro
                        </label>
                    </div></li>
                    <li><div class="checkbox disabled">
                        <label>
                            <input type="checkbox" disabled>
                            Автоматическая деактивация задания
                        </label>
                    </div></li>
                    <li><div class="checkbox disabled">
                        <label>
                            <input type="checkbox" disabled>
                            Санкция на обработку задания
                        </label>
                    </div></li>
                    <li><div class="checkbox disabled">
                        <label>
                            <input type="checkbox" disabled>
                            Просмотр данных, собранных по заданию
                        </label>
                    </div></li>
                    <li><div class="checkbox disabled">
                        <label>
                            <input type="checkbox" disabled>
                            Просмотр файлов (txt, doc, звук, видео)
                        </label>
                    </div></li>
                </ul>
            </li>

            <li><div class="checkbox disabled">
                <label>
                    <input type="checkbox" disabled>
                    Связь клиента и его IP-адресов
                </label>
            </div>
            </li>

            <li><div class="checkbox disabled">
                <label>
                    <input type="checkbox" disabled checked>
                    Преобразование IP-адресов из строкового представления в числовое (для более мощной фильтрации)
                </label>
            </div>
            </li>

            <li><div class="checkbox disabled">
                <label>
                    <input type="checkbox" disabled>
                    Взаимодействие с серверами Bro
                </label>
            </div>
                <ul>
                    <li><div class="checkbox disabled">
                        <label>
                            <input type="checkbox" disabled>
                            Подключение по <code>SSH</code> для передачи файлов с заданиями и перезапуска Bro
                        </label>
                    </div></li>
                    <li><div class="checkbox disabled">
                        <label>
                            <input type="checkbox" disabled>
                            Настройка репликации внешних серверов <code>MySQL</code> на центральный сервер
                        </label>
                    </div></li>
                    <li><div class="checkbox disabled">
                        <label>
                            <input type="checkbox" disabled>
                            Объединение данных с разных реплицированных БД в оперативную для использования данных
                        </label>
                    </div></li>
                    <li><div class="checkbox disabled">
                        <label>
                            <input type="checkbox" disabled>
                            Настройка репликации файлов с внешних серверов на центральный сервер
                        </label>
                    </div></li>
                </ul>
            </li>

            <li><div class="checkbox disabled">
                <label>
                    <input type="checkbox" disabled>
                    Нормальный внешний вид
                </label>
            </div></li>

            <li><div class="checkbox disabled">
                <label>
                    <input type="checkbox" disabled>
                    Локализация
                </label>
            </div></li>

            <li><div class="checkbox disabled">
                <label>
                    <input type="checkbox" disabled>
                    Валидация фильтров перед их применением
                </label>
            </div></li>
        </ul>
    </div>
</div>
