<div class="panel panel-default">
    <div class="panel-heading">
        <span ng-if="model.id">
            Редактирование пользователя {{model.id}}
        </span>
        <span ng-if="!model.id">
            Создание пользователя
        </span>
    </div>
    <div class="panel-body">
        <!--todo https://www.forms-angular.org/#/schemas-->
        <ng-form novalidate role="form" name="entityForm">

            <!--username-->
            <div class="form-group" title="Username">
                <label for="username">Имя пользователя</label>

                <div class="input-group">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></div>
                    <input type="text" class="form-control"
                           name="username" id="username" ng-model="model.username"
                           placeholder="Имя пользователя" friendly-name="Имя пользователя"
                           validation="custom:serverErrorValidator('username')|min_len:3"
                    >
                </div>
            </div>

            <!--password-->
            <div class="form-group" title="Password" ng-if="!model.id">
                <label for="password">Пароль</label>

                <div class="input-group">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></div>
                    <input type="password" class="form-control"
                           name="password" id="password" ng-model="model.password"
                           placeholder="Пароль" friendly-name="Пароль"
                           validation="custom:serverErrorValidator('password')|required|min_len:3"
                    >
                </div>
            </div>

            <!--newPassword-->
            <div class="form-group" title="New password" ng-if="model.id">
                <label for="newPassword">Новый пароль</label>

                <div class="input-group">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></div>
                    <input type="password" class="form-control"
                           name="newPassword" id="newPassword" ng-model="model.newPassword"
                           placeholder="Новый пароль" friendly-name="Новый пароль"
                           validation="custom:serverErrorValidator('newPassword')|min_len:3"
                    >
                </div>
            </div>

            <!--newPasswordConfirm-->
            <div class="form-group" title="Confirm new password" ng-if="model.id">
                <label for="newPasswordConfirm">Подтверждение пароля</label>

                <div class="input-group">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></div>
                    <input type="password" class="form-control"
                           name="newPasswordConfirm" id="newPasswordConfirm" ng-model="model.newPasswordConfirm"
                           placeholder="Подтверждение пароля" friendly-name="Подтверждение пароля"
                           validation="custom:serverErrorValidator('newPasswordConfirm')|min_len:3|match:model.newPassword,Новый пароль"
                    >
                </div>
            </div>

            <!--active-->
            <div class="form-group" title="Active">
                <div class="check-box">
                    <label>
                        <input type="checkbox"
                               name="active" id="active" ng-model="model.active"
                               friendly-name="Active"
                        > Активен
                    </label>
                </div>
            </div>

            <!--role-->
            <div class="form-group" title="Role">
                <label for="role">Роль</label>

                <div class="input-group">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-list" aria-hidden="true"></span></div>
                    <!--todo https://docs.angularjs.org/api/ng/directive/select#using-select-with-ngoptions-and-setting-a-default-value-->
                    <!--todo https://github.com/angular-ui/ui-select/-->
                    <select class="form-control"
                            name="role" id="role" ng-model="model.role"
                            friendly-name="Role"
                            validation="custom:serverErrorValidator('role')|required"
                    >
                        <option value="ADMIN">Администратор</option>
                        <option value="OPERATOR">Обработчик</option>
                        <option value="SUPERVISOR">Надзорщик</option>
                    </select>
                </div>
            </div>

            <!--activeUntil-->
            <div class="form-group" title="Active until">
                <label for="activeUntil">Дата деактивации</label>

                <div class="input-group">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></div>
                    <input type="text" class="form-control"
                           date-time-picker='{"onlyDate": true}'
                           convert-to-date
                           name="activeUntil" id="activeUntil" ng-model="model.activeUntil"
                           placeholder="Дата деактивации" friendly-name="Дата деактивации"
                           validation="custom:serverErrorValidator('activeUntil')"
                    >
                </div>
            </div>

            <!--agency-->
            <div class="form-group" title="Agency">
                <label for="agency">Орган, осуществляющий проведение ОРМ или надзор</label>

                <div class="input-group">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span></div>
                    <ui-select class="form-control"
                               name="agency" id="agency" ng-model="model.agency"
                               sortable="true"
                               placeholder="Agency" friendly-name="Agency"
                               title="Select task"
                    >
                        <ui-select-match placeholder="Выберите из списка">{{$select.selected.name || $select.selected}}</ui-select-match>
                        <ui-select-choices repeat="item in optAgency track by item.id">
                            <div ng-bind-html="item.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                    <input type="hidden"
                           name="agencyId" ng-model="model.agency"
                           validation="custom:serverErrorValidator('agency')"
                    >
                </div>
            </div>

        </ng-form>
    </div>
    <div class="panel-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()">
            Отмена
        </button>
        <button type="button" class="btn btn-primary" ng-click="save()" ng-disabled="(entityForm.$dirty && entityForm.$invalid) || entityForm.$pristine">
            Сохранить
        </button>
    </div>
</div>
