<div class="modal-header"><h4 class="modal-title">
    <span class="glyphicon glyphicon-asterisk"></span>
    Изменение пароля
</h4></div>
<div class="modal-body">
    <ng-form name="changePasswordDialog" novalidate role="form">
        <div class="form-group">
            <label for="oldPassword" class="sr-only">Текущий пароль</label>

            <div class="input-group">
                <div class="input-group-addon"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></div>
                <input type="password" class="form-control"
                       name="oldPassword" id="oldPassword" ng-model="model.oldPassword"
                       placeholder="Текущий пароль" friendly-name="Текущий пароль"
                       ng-keyup="hitEnter($event)" autofocus
                       required validation="required|min_len:3">
            </div>
        </div>

        <div class="form-group">
            <label for="newPassword" class="sr-only">Новый пароль</label>

            <div class="input-group">
                <div class="input-group-addon"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></div>
                <input type="password" class="form-control"
                       name="newPassword" id="newPassword" ng-model="model.newPassword"
                       placeholder="Новый пароль" friendly-name="Новый пароль"
                       ng-keyup="hitEnter($event)"
                       required validation="required|min_len:3">
            </div>
        </div>

        <div class="form-group">
            <label for="newPasswordConfirm" class="sr-only">Подтверждение пароля</label>

            <div class="input-group">
                <div class="input-group-addon"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></div>
                <input type="password" class="form-control"
                       name="newPasswordConfirm" id="newPasswordConfirm" ng-model="model.newPasswordConfirm"
                       placeholder="Подтверждение пароля" friendly-name="Подтверждение пароля"
                       ng-keyup="hitEnter($event)"
                       required validation="required|min_len:3|match:model.newPassword,New password">
            </div>
        </div>
    </ng-form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">
        Отмена
    </button>
    <button type="button" class="btn btn-primary" ng-click="save()" ng-disabled="(changePasswordDialog.$dirty && changePasswordDialog.$invalid) || changePasswordDialog.$pristine">
        Сохранить
    </button>
</div>
