<div class="btn-group" role="group" aria-label="actions">
    <button ng-repeat="action in actions"
            ng-if="!action.perRow && principal.hasAnyPermission(action.permissions)"
            type="button"
            class="btn btn-sm btn-default"
            ng-click="action.action(gridApi.grid, row)">
        <span class="glyphicon glyphicon-{{action.icon}}" aria-hidden="true"></span>
    </button>
</div>
<div ui-grid="gridOptions" ui-grid-pagination ui-grid-resize-columns class="grid">
    <div us-spinner></div>
</div>
